.R
/data/*
!/data/y_hat.csv
/model
/.ipynb_checkpoints
/create_environment_scripts/.ipynb_checkpoints/
/scripts/.ipynb_checkpoints
/scripts/__pycache__/
.Rhistory
/scripts/.Rhistory
/create_environment_scripts/.Rhistory
/virtualenv
/shiny_app/.Rhistory
